:root{
    --blanco: #fff; 
    --crema: #eff3cd; 
    --verbajo:#b2d5ba;
    --primario:#61ada0;
    --secundario: #248f8d;
    --secundarioFuerte: #079b9b;
    --oscuro: #605063;
    --imagen: #e1f3fd;
  
    --fuente-principal: 3.8rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
/*ESTO ES PARA QUE NO AFECTE EL PADDIG O MARGIN EN EL WIDTH*/
*,*:before, *:after{
    box-sizing: inherit;
}


body{
    font-size: 16px; /*1rem = 10 px*/
    font-family: 'Krub', sans-serif,Arial;
    background-color: white;
    /* background-image: linear-gradient(to top, var(--blanco) 0%, var(--verbajo) 100%); */
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 100rem;
    margin: 0 auto;
}

.headerPrincipal{
    width: 100%;
    position: fixed;
    top: 0;
}

.sectionImg{
    margin-top: 8rem;
}

.nav-bg{
    /* display: grid; */
    background-color:var(--imagen);
    /* display: flex;
    flex-direction: row;
    justify-content:space-between; */
}
.nav-bg img{
    max-width: 15rem;
}

.navegacion-principal{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;

}

.navegacion-principal a{
    color: var(--secundarioFuerte);
    text-decoration: none;
    padding: .5rem;
    border-radius: 12px;
    /* background-color: var(--secundario); */
}
.navegacion-principal .nav-a:hover{
    background-color: var(--primario);
    color: white;
    /* background-color: var(--secundario); */
} 


@media(min-width: 768px) {
    .nav-bg img{
        max-width: 7rem;
    }
    .navegacion-principal{
        align-items: flex-end;
        padding: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }
  }